<div class="container">
    <div class="row">
        <div class="col-12 bg-white mt-4 rounded">
            <div class="row">
                <div class="col-12 border-bottom mb-3 d-flex justify-content-between align-items-center flex-column">
                    <h1 class="text-primary">Registration</h1>
                    <button matSuffix type="button" class="btn btn-primary font-size-12" [routerLink]="'../'" > auth</button>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex justify-content-between align-items-center flex-column">
                        <mat-form-field class="w-100 mx-4 mt-3" appearance="outline">
                            <mat-label class=" font-opensans-regular">firstName</mat-label>
                            <input [formControlName]="'firstName'" matInput placeholder="Search...">
                        </mat-form-field>

                        <mat-form-field class="w-100 mx-4 mt-3" appearance="outline">
                            <mat-label class=" font-opensans-regular">lastName</mat-label>
                            <input [formControlName]="'lastName'" matInput placeholder="Search...">
                        </mat-form-field>

                        <mat-form-field class="w-100 mx-4 mt-3" appearance="outline">
                            <mat-label class=" font-opensans-regular">email</mat-label>
                            <input [formControlName]="'emailAddress'" matInput placeholder="Search...">
                        </mat-form-field>

                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input [formControlName]="'password'" matInput [type]="hide ? 'password' : 'text'">
                            <button class="btn m-0 p-0 font-size-12" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <button [disabled]="form.invalid" class="btn btn-primary font-size-14 p-2"> Add New User</button>
                    </form>

                    {{form.value | json}}
                </div>
            </div>
        </div>
    </div>
</div>

