<h1 mat-dialog-title>Add album</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Enter album name</mat-label>
            <input matInput placeholder="name" [formControlName]="'name'" required>
            <mat-error *ngIf="form.invalid">{{"name is required"}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter album category</mat-label>
            <input matInput placeholder="category" [formControlName]="'category'" required>
            <mat-error *ngIf="form.invalid">{{"category is required"}}</mat-error>
        </mat-form-field>
        <input (change)="test($event)" #uploadform name="foo" type="file" />
    </form>
    {{form.value | json }}
    <img *ngIf="form.get('file')?.value" [src]="'http://localhost:3000/file/files/' + form.get('file')?.value" alt="">
</div>
<div >
    <button mat-button (click)="onNoClick()"  color="warn">Close</button>
    <button mat-button color="primary" [mat-dialog-close]="form.value">Add</button>
</div>
