<div *ngIf="data" class="card p-2">

    <div class=" d-flex justify-content-between align-items-center border-bottom mb-3 py-2">
        <div class="w-75 d-flex align-items-center">
            <div class="text-truncate font-opensans-bold font-size-18">{{data.name}}</div>
            <div class="text-truncate font-opensans-bold font-size-18">{{data.category}}</div>
        </div>

        <audio *ngIf="data.file" controls>
            <source  [src]="'http://localhost:3000/file/files/' + data.file" type="audio/ogg">
        </audio>
    </div>

</div>
